<%= render "layouts/navbar" %>

<input id="pac-input" class="controls" type="text"
    placeholder="Enter a location">
<div id="type-selector" class="controls">
  <input type="radio" name="type" id="changetype-all" checked="checked">
  <label for="changetype-all">All</label>
</div>



<div class="col-md-2 sidebar">
  <div class="filter">
    <label>Filter By Name</label>
    <%= text_field :spot, :filter_name %>
  </div>

  <div class="spots">
  </div>
</div>

<div id="map" class="col-md-10"></div>

<div class="col-md-10" id="spot-info-field">
  <table class='table table-condensed'>
   <tr>
    <td>Wave Quality</td><td>High Quality</td>
   </tr>
   <tr>
    <td>Experience Level</td><td>Noob</td>
   </tr>
   <tr>
    <td>Frequency</td><td>Very Frequent</td>
   </tr>
   <tr>
    <td>Break Type</td><td>Point Break</td>
   </tr>
   <tr>
    <td>Direction</td><td>Left</td>
   </tr>
   <tr>
    <td>Sea Floor</td><td>Sand</td>
   </tr>
  </table>
  <table class='table table-condensed'>
   <tr>
    <td>Power</td><td>Powerful Bro</td>
   </tr>
   <tr>
    <td>Usual Length</td><td>20m sometimes 30</td>
   </tr>
   <tr>
    <td>Epic Length</td><td>epic as it gets</td>
   </tr>
   <tr>
    <td>Ideal Swell Direction</td><td>2min bro so pitted</td>
   </tr>
   <tr>
    <td>Ideal Wind Direction</td><td>South South West</td>
   </tr>
   <tr>
    <td>Swell Size</td><td>3feet persecond</td>
   </tr>
  </table>
  <table class='table table-condensed'>
   <tr>
    <td>Ideal Tide</td><td>Mid</td>
   </tr>
   <tr>
    <td>Ideal Tide Movement</td><td>Powerful Bro</td>
   </tr>
   <tr>
    <td>Weekday Crowd</td><td>20m sometimes 30</td>
   </tr>
   <tr>
    <td>WeekEnd Crowd</td><td>Bloated Bro</td>
   </tr>
   <tr>
    <td>Dangers</td><td>2min bro so pitted</td>
   </tr>
   <tr>
    <td>Sub Zone</td><td>South South West</td>
   </tr>
  </table>
</div>


<script src="https://maps.googleapis.com/maps/api/js?Figaro.env.GOOGLE_MAPS_KEY&libraries=places&callback=initMap"
    async defer></script>
