<%= render "layouts/navbar" %>

<input id="pac-input" class="controls" type="text"
    placeholder="Enter a location">
<div id="type-selector" class="controls">
  <input type="radio" name="type" id="changetype-all" checked="checked">
  <label for="changetype-all">All</label>
</div>



<div class="col-md-3 sidebar">
  <div class="filter">
    <label>Filter By Name</label>
    <%= text_field :spot, :filter_name %>
  </div>

  <div class="spots">
  </div>
</div>

<div id="map" class="col-md-9"></div>

<div class="col-md-9" id="spot-info-field">

</div>


<script src="https://maps.googleapis.com/maps/api/js?Figaro.env.GOOGLE_MAPS_KEY&libraries=places&callback=initMap"
    async defer></script>
