<%= render "layouts/navbar" %>

<div class="col-md-3 sidebar">
  <div id="search-hand"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span><h4>Begin Search By Region</h4></div>
  <div id="accordion" class="spots">
  </div>
</div>

<div id="map" class="col-md-9"></div>

<div class="col-md-9" id="spot-info-field">
</div>


<script src="https://maps.googleapis.com/maps/api/js?Figaro.env.GOOGLE_MAPS_KEY&callback=initMap" async defer></script>
