<div class="container-fluid container-home"></div>

<div class="container-fluid container-login">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="home">Welcome to Surfiesta</h1>
      <h2 class="home">Made By Surfers, For Surfers</h2>
        <%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-lg btn-default btn-home" %>
    </div>
  <div class="col-md-2"></div>
</div>
