/*
 *= require jquery-ui/accordion
*/

/* Color Pallete */
$blue:   #70BBB5;
$brown:  #3F2E13;
$orange: #E1A63A;
$baige:  #E2C582;
$cream:  #EDDDB8;

@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "spot-table";
@import "dashboard";
@import "home";
@import "nav-bar";
@import "side-bar";
