/* Color Pallete */
$blue:   #70BBB5;
$brown:  #3F2E13;
$orange: #E1A63A;
$baige:  #E2C582;
$cream:  #EDDDB8;
$kaushan: 'Kaushan Script', cursive;

@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "font-awesome";
@import "jquery-ui/accordion";
@import "goog-maps";
@import "home";
@import "nav-bar";
@import "side-bar";
@import "social-bar";
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
