html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 80%;
  // border: 2px solid green;
  /*width: 1024px;
  width: 70%;*/
}

.spots {
  text-align: center;
}

.spot {
  padding: 2%;
}

a.spot-name {
  font-size: large;
  text-decoration: none;
}

.sidebar {
  height: 93%;
  border: 1px solid grey;
  overflow-y: scroll;
}
