.container-home {
  background-color: $blue;
  background-image: image-url("home-header.jpg");
  background-size: cover;
  background-position: 70% 50%;
  opacity: .9;
  min-height: 70vh;
  width: 80%;
}

.container-login {
  background-color: white;
  height: 27vh;
  text-align: center;
  width: 80%;
}

.home {
  font-weight: 100;
  font-size: 100;
}

h1.home {
  font-style: $kaushan;
  font-size: 60px;
  font-weight: 300;
  color: $brown;
}

h2.home {
  font-size: 40px;
  color: $orange;
}

a.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  border-width: 2px;
  color: $brown;
  font-weight: 800;
  border-color: $orange;
  margin-top: 15px;
}

a.btn.btn-lg.btn-default.btn-home:hover {
  opacity: 0.4;
}

@media screen and (max-width: 1000px) {
  .btn-lg {
    font-size: 38px;
  }
}
