.navbar {
  margin-bottom: 0px;
}
.img-circle {
  width: 70%;
}

.filter {
  padding-top: .5em;
  label {
    font-size: 0.8em;
    &:after {
      content: ': ';
    }
  }
  select, input {
    margin-right: 1em;
  }
}

/*.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}*/
