.navbar {
  margin-bottom: 0px;
}
.img-circle {
  width: 80%;
  background-color: $orange;
  border-radius: 5%;
}

.img-thumbnail {
  margin-top: 7%;
  background-color: $brown;
}

.navbar-default .navbar-collapse, .navbar-default {
  background-color: $brown;
  border: none;
}

.navbar-default .navbar-brand {
  font-family: $kaushan;
  color: $blue;
  font-size: xx-large;
  &:hover {
    color: $baige;
  }
}

input#spot_filter_name {
  background-color: $cream;
}

.navbar-default .navbar-nav > li > a {
  color: $orange;
  font-size: medium;
  &:hover {
    color: $baige;
  }
}

.glyphicon-off {
  color: maroon;
  font-size: medium;
  &:hover {
    color: red;
  }
}

.navbar-default .navbar-nav > .open > a {
  background-color: $brown;
  &:hover {
    background-color: $cream;
  }
  &:focus {
    background-color: $brown;
    color: $orange;
  }
}

.navbar-nav > li > .dropdown-menu {
  background-color: $cream;
}

.dropdown-menu > li > a {
  font-weight: 600;
  &:hover {
    color: $orange;
    background-color: $cream;
  }
}

.navbar-brand {
  position: absolute;
  left: 45%;
}

a {
  font-family: $kaushan;
  font-size: large;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

span#basic-addon1 {
  background-color: $orange;
}

form.navbar-form.navbar-left {
  width: 200px;
}
