.navbar {
  margin-bottom: 0px;
}
.img-circle {
  width: 80%;
}

.filter {
  padding-top: .5em;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}
