#accordion .ui-accordion-header {
  background-color: $blue;
  height: 2.5em;
}

.ui-accordion .ui-accordion-icons {
  font-weight: 600;
  font-size: small;
  color: $brown;
  &:hover {
    color: $cream;
  }
}

.ui-accordion-content {
  background-color: $cream;
  font-color: $brown;
}

.glyphicon-hand-up {
  font-size: xx-large;
  top: 5px;
  left: 30px;
  color: $orange;
}

#search-hand {
  margin-top: 20%;
  color: $blue;
  z-index: 2;
}

h4 {
  line-height: 3;
  font-size: initial;
}

.sidebar {
  height: 90%;
  overflow-y: scroll;
  margin-top: 1%;
}

.table-condensed > tbody > tr > td {
  border-bottom: 1px solid $baige;
  font-style: italic;
  font-weight: 600;
  text-align: right;
}

.spot .glyphicon-heart-empty, .glyphicon-heart {
  float: right;
}

.glyphicon-heart-empty, .glyphicon-heart {
  font-size: larger;
  &:hover {
    color: $orange;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    height: 50%;
    margin-top: 0;
  }

  h4 {
    font-size: xx-large;
  }

  .glyphicon-hand-up {
    font-size: -webkit-xxx-large;
  }
}
