.ui-accordion .ui-accordion-icons {
  font-weight: 600;
  color: $orange;
}

.ui-accordion-content {
  background-color: $blue;
}

.glyphicon-hand-up {
  font-size: large;
  top: 5px;
  color: $orange;
}

#search-hand {
  text-align: center;
  margin-top: 20%;
  color: $blue;
}

.sidebar {
  height: 93%;
  overflow-y: scroll;
  margin-top: 1%;
}
